.centered{
  text-align: center;
  font-size: 77px;
}
.large{
  font-size: 50px;
}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td:first-child,
th:first-child {
  border-left: 2px solid #ddd;
}

td:last-child,
th:last-child {
  border-right: 2px solid #ddd;
}

tr:first-child th {
  border-top: 2px solid #ddd;
}

tr:last-child td {
  border-bottom: 2px solid #ddd;
}

